version: '3.8'
services:
  web:
    build: .
    ports:
      - "5000:5000"
    volumes:
      - .:/app  # Maps the current directory (.) to /app in the container
    environment:
      - FLASK_ENV=development  # Enables Flask's auto-reload feature

